html {
	height: 100%;
	font-size: 100%;
}
#wrapper {
/*	padding:100px 0;*/
	width: 100%;
	margin: 0 auto;
    background: #222;
    height: 2.16rem;
}
.attribution {
	padding: 3em 0;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.attribution a {
	color: #fff;
}



